@font-face {font-family:"Newtown";
	src:url("NEWTOW__.eot?") format("eot"),url("NEWTOW__.woff") format("woff"),url("NEWTOW__.ttf") format("truetype"),url("NEWTOW__.svg#Newtown") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {font-family:"Newtown Bold";
	src:url("NEWTOW_B.eot?") format("eot"),url("NEWTOW_B.woff") format("woff"),url("NEWTOW_B.ttf") format("truetype"),url("NEWTOW_B.svg#NewtownBold") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {font-family:"Newtown Bold Italic";
	src:url("NEWTOWBI.eot?") format("eot"),url("NEWTOWBI.woff") format("woff"),url("NEWTOWBI.ttf") format("truetype"),url("NEWTOWBI.svg#NewtownBoldItalic") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {font-family:"Newtown Italic";
	src:url("NEWTOW_I.eot?") format("eot"),url("NEWTOW_I.woff") format("woff"),url("NEWTOW_I.ttf") format("truetype"),url("NEWTOW_I.svg#NewtownItalic") format("svg");
	font-weight:normal;
	font-style:normal;
}
